body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./imagenes/fondo.png);
    color: #333;
    position: center sticky;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

h2 {
    text-align: center;
}

#contact-form  {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;

}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e67e22;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}