body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./imagenes/fondo.png);
    color: #333;
    position: center sticky;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;

}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.contenedor-blanco {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Centrar el texto y ajustar márgenes */
.texto {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

@media (min-width: 768px) {
    .contenedor-blanco {
        padding: 40px;
    }
}

.carousel-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 20px;
    gap: 20px;
    max-width: 100%;
    margin: auto;
}

.carousel-container::-webkit-scrollbar {
    display: none;
}

.card {
    flex: 0 0 100%;
    max-width: 300px;
    scroll-snap-align: center;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.card-content {
    font-size: 1em;
    color: #555;
}