body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./imagenes/fondo.png);
    color: #333;
    position: center sticky;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.carousel-inner {
    
    justify-content: center;
    position: center;
    
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(38, 0, 255, 0.5); /* Cambia el color RGBA a tu preferencia */
    border-radius: 50%; /* Añade bordes redondeados si quieres */
}


.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
